<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
  <div class="sidebar-content">
      <div class="sidebar-header">
        <i class="bi bi-x-lg fa-2x" (click)="toggleSidebar(!sidebarservice.toggled)" style="cursor: pointer; color: rgb(240, 146, 23);"></i>
      </div>

      <div class="sidebar-menu text-center">
        <ul>
          <li [ngClass]="{'active': true}" (click)="toggleSidebar(!sidebarservice.toggled)">
            <a routerLink="/" (click)='toggle("x")'>
              <!-- <i class="{{menu.icon}}"></i> -->
              <span>{{'menu_item1' | translate}}</span>
              <!-- <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span> -->
            </a>
            <!-- <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus">
                  <a href="#"> {{submenu.title}}
                    <span *ngIf="submenu.badge" class="badge badge-pill" [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                  </a>
                </li>
              </ul>
            </div> -->
          </li>
          <hr>
          <li [ngClass]="{'active': true}" (click)="toggleSidebar(!sidebarservice.toggled)">
            <a [routerLink]="['/destination']" (click)='toggle("x")'>
              <span>{{'menu_item2' | translate}}</span>
            </a>
          </li>
          <hr>
          <li [ngClass]="{'active': true}" (click)="toggleSidebar(!sidebarservice.toggled)">
            <a [routerLink]="['/service-contact']" (click)='toggle("x")'>
              <span>{{'menu_contact' | translate}}</span>
            </a>
          </li>
          <hr>
          <!-- <li [ngClass]="{'active': true}">
            <a href="/services" (click)='toggle("x")'>
              <span>{{'menu_contact' | translate}}</span>
            </a>
          </li> -->


        </ul>
      </div>
  </div>
 
</nav>
