.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.img-main {
    position: relative;
    text-align: center;
    color: white;
}

.text-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 90%;
    background: white;
    bottom: -6%;
}

a.button {
    text-decoration: none !important;
    padding: 6px 20px 11px;;
    border: 2px solid #c49651;
    background: white;
    color: #c49651;
}

a.button:hover {
    border: 2px solid #c49651;
    background: #c49651;
    color: #fff;
}

// @media only screen and (min-width: 768px) {
//     figure {
//         width: 33.33%;
//         height: 300px;
//     }
// }