<div class="page-wrapper" [ngClass]="{'toggled' : sidebarservice.toggled}">
    <app-sidenav></app-sidenav>
    <div class="menu-item" (click)="toggleSidebar()"><i class="bi bi-list fa-3x " style="color: rgb(240, 146, 23);"></i>
    </div>
    <main class="page-content">
        <div class="container-fluid">
            <a [routerLink]="['/service-contact/communication']" class="contact-button sticky-button" title="liên lạc"></a>
            <a class="whatsapp sticky-button" href="https://api.whatsapp.com/send?phone={{company.Phone}}" title="Click to connect {{company.Phone}}"></a>
            <router-outlet></router-outlet>
            
            <div class="mt-5">
                <app-support-banner [logoLink]="company.Logo" [title]="company.ContactMe" [phone]="company.Phone"
                    [worktime]="company.WorkTime"></app-support-banner>
            </div>
        </div>
        

    </main>
    <app-footer [companyName]="companyName" [address]="address" [phone]="phone" [ceo]="ceo" [email]="email"></app-footer>




</div>