<div *ngIf="_apiResponse" [ngStyle]="backgroundStyle" class=" bg-cover text-white  py-5 destination-img">
    <div class="container centered">
        <h3 class="display-4 font-weight-bold">{{title}}</h3>
        <p class="font-italic mb-4 mt-4 w-75 mx-auto txt">{{content}}</p>
        <p class="font-italic">
            <button type="button mb-4" class="btn btn-secondary txt">{{btncontent}}</button>
        </p>
        <!-- <a href="#" role="button" class="btn btn-primary px-5">See All Features</a> -->
    </div>
</div>