<app-banner [imgURL]="tour?.ImageURL" [text]="tour?.TourName"></app-banner>
<div  class="container py-5 text-center">
    <div class="row">
        <div class="col-sm-12">
            <p class="display-4">{{tour?.QuickViewContent}}</p>
        </div>
    </div>
    <div class="row mt-4" *ngFor="let item of tourcontent; let i=index">
        <ng-container *ngIf="i %2 == 1; else elseTemplate">
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid"
                    src="{{item.imgURL}}"
                    alt="" srcset="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h5>{{item.title}}</h5>
                <p>
                    {{item.content}}
                </p>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="col-md-6 col-sm-12">
                <h5>{{item.title}}</h5>
                <p>
                    {{item.content}}
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid"
                    src="{{item.imgURL}}"
                    alt="" srcset="">
            </div>
           
        </ng-template>
        
    </div>
</div>