<app-banner [imgURL]="blogPost?.ImageURL" text="{{blogPost?.BlogPostName}}"></app-banner>
<div  class="container py-5 text-center">
    <h2>{{blogPost?.BlogPostName}}</h2>

    <div class="row">
        <div class="col-sm-12 mb-5">
            <span class="new-line"  [innerHTML]="blogPost?.QuickViewContent"></span>
        </div>
    </div>
    <div class="row mt-4" *ngFor="let item of blogPostcontent; let i=index">     
         <div class="col-md-12 col-sm-12">
            <h3>{{item.title}}</h3>
            <p style="text-align: justify;">
                <span class="new-line" [innerHTML]="item.content"></span>
            </p>
           
        </div>
        <div style="padding-top: 20px" class="col-md-12 col-sm-12">
            <img class="img-fluid"
            src="{{item.imgURL}}"
            alt="" srcset="">
        </div>
        
    </div>
</div>

