<!-- banner -->
<app-banner [imgURL]="'https://www.china-reisen.de/media/_processed_/d/e/csm_china-exklusive-reisen_61f15f59a5.jpg?v=1543403750'" text="{{'china_home_banner' | translate}}"></app-banner>

<div class="container py-5 text-center">

    <div class="row">
        <div class="col-sm-12">
            <h2 class="display-4">{{'home_trips' | translate}}</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <p>{{'home_treat_content' | translate}}</p>
        </div>
    </div>

    <!-- hang 1 -->
    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom text="Trung Quốc theo phong cách" URLTarget="#"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/e/e/csm_china-luxusreise-dachterasse-wein_7608809b3e.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom URLTarget="#" text="Du lịch Trung Quốc - Khám phá lại sự đa dạng của Vân Nam"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/8/d/csm_china-reise-yunnan-lijiang-altstadt-0_e5ee618fa1.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom text="Những điểm nổi bật của Trung Quốc" URLTarget="#"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/d/b/csm_china-rundreise-glanzlichter-chinas-grosse-mauer-0_795f81139e.jpg'">
            </app-img-zoom>
        </div>
    </div>
    <!-- hang 2 -->

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom text="Những viên ngọc trai của Trung Quốc" URLTarget="#"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/b/e/csm_china-rundreise-guilin-li-fluss-0_b85f6eb5a8.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom URLTarget="#" text="Dọc theo con đường tơ lụa huyền thoại xuyên Trung Quốc"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/4/5/csm_China-Reisen-Dunhuang-0_c3cdb0c56a.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom text="Hành trình thiên nhiên dọc theo Con đường Tơ lụa" URLTarget="#"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/e/9/csm_china-seidenstrasse-reise-badein-jaran-0_931c7f8448.jpg'">
            </app-img-zoom>
        </div>
    </div>
    <!-- hang 3 -->

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom text="Miền Nam Trung Quốc như trong một cuốn sách ảnh" URLTarget="#"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/e/4/csm_suedchina-reise-suedchina-wie-im-bilderbuch-0_7c7ea94c60.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom URLTarget="#" text="Chuyến đi bộ đường dài qua Vân Nam hoang sơ và lãng mạn"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/b/a/csm_China-Wandereise-Tiger-Sprung-Schlucht-Yunnan-0_6e76e1b6c4.jpg'">
            </app-img-zoom>
        </div>

    </div>

</div>
<div class="container-fluid mt-5">
    <app-support-banner></app-support-banner>
</div>