<app-banner [imgURL]="url"></app-banner>

<!-- content -->
<div class="container py-5 text-center">
    <h2>tự thưởng cho mình một điều gì đó đặc biệt</h2>

    <div class="row">
        <div class="col-sm-12 mb-5">
            <p>Khám phá thế giới với chúng tôi!</p>
            <p>Không bao giờ ngừng khám phá. Trong hơn 25 năm, chúng tôi đã là chuyên gia của bạn cho các chuyến đi khứ hồi chất lượng cao và được thiết kế riêng ở Châu Á. Với hai công ty chị em của mình, Africa Royal Tours và América Special Tours, chúng tôi cũng mang đến cho bạn những trải nghiệm du lịch cá nhân và khó quên đến Châu Phi và Châu Mỹ Latinh. Chúng tôi đã thiết kế một trang web riêng cho từng điểm đến du lịch để cung cấp cho bạn nhiều sáng tạo du lịch, ý tưởng và thông tin du lịch nhất có thể. Chúng tôi cũng điều hành một blog du lịch riêng cho mỗi quốc gia. Một hướng dẫn viên cá nhân, tài xế riêng và các nhà nghỉ và chỗ ở sang trọng đang chờ đón bạn. Khám phá những nơi nghỉ dưỡng độc đáo trong chuyến đi mơ ước của bạn và chinh phục những chân trời mới.</p>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Oman" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/a/8/csm_oman-reisen-grosse-mosche-muscat_8b5b3a3e2f.jpg'"
                [URLTarget]="'https://www.seidenstrasse-rundreisen.de/oman/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Bhutan" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/7/7/csm_Bhutan-Reisen-Asien-Special-Tours_c4086d0fa6.jpg'"
                [URLTarget]="'https://www.bhutan-rundreisen.com/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Trung Quốc" textTarget="'Đến các chuyến đi"
            [imgURL]="'https://www.asien-special-tours.de/media/_processed_/f/1/csm_China---Grosse-Mauer---Asien-Special-Tours_9213be2f16.jpg'"
            [URLTarget]="'https://www.china-reisen.de/'">
        </app-img-box>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Oman" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/a/8/csm_oman-reisen-grosse-mosche-muscat_8b5b3a3e2f.jpg'"
                [URLTarget]="'https://www.seidenstrasse-rundreisen.de/oman/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Bhutan" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/7/7/csm_Bhutan-Reisen-Asien-Special-Tours_c4086d0fa6.jpg'"
                [URLTarget]="'https://www.bhutan-rundreisen.com/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Trung Quốc" textTarget="'Đến các chuyến đi"
            [imgURL]="'https://www.asien-special-tours.de/media/_processed_/f/1/csm_China---Grosse-Mauer---Asien-Special-Tours_9213be2f16.jpg'"
            [URLTarget]="'https://www.china-reisen.de/'">
        </app-img-box>
        </div>
    </div>

</div>
<div class="container-fluid mt-5">
    <app-support-banner></app-support-banner>
</div>
