<app-banner [imgURL]="des?.BannerImage" [text]="des?.Title"></app-banner>

<!-- content -->
<div class="container py-5 text-center">
    <h2>{{des?.Quickview}}</h2>

    <div class="row">
        <div class="col-sm-12 mb-5">
            <p>{{des?.QuickviewContent}}</p>
        </div>
    </div>

    <div class="hr-center">
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="display-4">{{des?.IndividualTripTitle}}</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <h3>{{des?.IndividualTripAdditional}}</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <p>{{des?.IndividualTripContent}}</p>
        </div>
    </div>
    

    <div class="hr-center">
        <hr>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h2 class="display-4">{{des?.TripTitle}}</h2>
        </div>
    </div>

    <div class="row mt-3" *ngFor="let arr of trips">
        <div class="col-md-4 col-sm-12 pe-0" *ngFor="let subdest of arr">
            <app-img-zoom text="{{subdest.TripDetailName}}" [URLTarget]="subdest.TripURL"
            [imgURL]="subdest.ImageURL">
        </app-img-zoom>
        </div>
    </div>

    <!-- <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Oman" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/a/8/csm_oman-reisen-grosse-mosche-muscat_8b5b3a3e2f.jpg'"
                [URLTarget]="'https://www.seidenstrasse-rundreisen.de/oman/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Bhutan" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/7/7/csm_Bhutan-Reisen-Asien-Special-Tours_c4086d0fa6.jpg'"
                [URLTarget]="'https://www.bhutan-rundreisen.com/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Trung Quốc" textTarget="'Đến các chuyến đi"
            [imgURL]="'https://www.asien-special-tours.de/media/_processed_/f/1/csm_China---Grosse-Mauer---Asien-Special-Tours_9213be2f16.jpg'"
            [URLTarget]="'https://www.china-reisen.de/'">
        </app-img-box>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Oman" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/a/8/csm_oman-reisen-grosse-mosche-muscat_8b5b3a3e2f.jpg'"
                [URLTarget]="'https://www.seidenstrasse-rundreisen.de/oman/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Bhutan" textTarget="Đến các chuyến đi"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/7/7/csm_Bhutan-Reisen-Asien-Special-Tours_c4086d0fa6.jpg'"
                [URLTarget]="'https://www.bhutan-rundreisen.com/'">
            </app-img-box>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-box text="Trung Quốc" textTarget="'Đến các chuyến đi"
            [imgURL]="'https://www.asien-special-tours.de/media/_processed_/f/1/csm_China---Grosse-Mauer---Asien-Special-Tours_9213be2f16.jpg'"
            [URLTarget]="'https://www.china-reisen.de/'">
        </app-img-box>
        </div>
    </div> -->

</div>
<!-- <div class="container-fluid mt-5">
    <app-support-banner></app-support-banner>
</div> -->
