<div class="container" >
    <div class="row mt-5">
        <div class="col-md-3 col-sm-12">
            <div class="row">
                <h4>{{companyName}}</h4>
            </div>
            <div class="row">
                <div>CEO: {{ceo}}</div>
            </div>
            <div class="row">
                <address>{{address}}</address>
            </div>
            <div class="row">
                <div>Phone: <a href="tel:+{{phone}}"> {{phone}}</a></div>
            </div>
            <div class="row">
                <div>Email: <a href="mailto:{{email}}">{{email}}</a></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row">
                <h4>{{footer?.LabelColumn2}} </h4>
            </div>
            <div class="row" *ngFor="let item of footer?.Column2">
                <a href="{{item.link}}">{{item.label}}</a>
            </div>
            
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row">
                <h4>{{footer?.LabelColumn3}}</h4>
            </div>
            <div class="row">
                <div>{{footer?.NewsColumn3}}</div>
            </div>
            <div class="row py-2">
                <button type="button" class="btn" style="background-color: #c49651;">
                    <a class="button" style="text-decoration:none;" [routerLink]="['/service-contact/newsletters']">
                        {{footer?.Column3}}
                    </a>
                    </button>
            </div>
            <div class="row py-2">
                <app-select-language></app-select-language>
            </div>

        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row">
                <h4>{{footer?.LabelColumn4}} </h4>
            </div>
            <div class="row" *ngFor="let item of footer?.Column4">
                <a href="{{item.link}}">{{item.label}}</a>
            </div>
        </div>

    </div>

</div>