<!-- banner -->
<app-banner [imgURL]="sc?.BannerImage" text="{{sc?.Title}}"></app-banner>


<div class="container py-5 text-center">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="display-4">{{sc?.Title}}</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <p>{{sc?.Content}}</p>
        </div>
    </div>

    <div class="row mt-3 ">
        <!-- đặt chỗ communications-->
        <div class="col-md-4 col-sm-12 pe-0" *ngIf="sc?.CommunicationTitle">
            <app-img-zoom text="{{sc?.CommunicationTitle}}" URLTarget="communication"
                [imgURL]="sc?.CommunicationImage">
            </app-img-zoom>
        </div>
        <!-- bản tin -->
        <div class="col-md-4 col-sm-12 pe-0" *ngIf="sc?.NewsLetterTitle">
            <app-img-zoom text="{{sc?.NewsLetterTitle}}" URLTarget="newsletters"
                [imgURL]="sc?.NewsLetterImage">
            </app-img-zoom>
        </div>
        <!-- người liên hệ -->
        <div class="col-md-4 col-sm-12 pe-0" *ngIf="sc?.OurTeamTitle">
            <app-img-zoom text="{{sc?.OurTeamTitle}}" URLTarget="our-team"
                [imgURL]="sc?.QuestionImage">
            </app-img-zoom>
        </div>

       
    </div>
    <!-- dịch vụ visa du lịch -->
    <div class="row mt-3 ">
         <!-- Chi tiết liên hệ và thời gian mở cửa -->
         <div class="col-md-4 col-sm-12 pe-0" *ngIf="sc?.worktimeTitle">
            <app-img-zoom text="{{sc?.worktimeTitle}}" URLTarget="worktime"
                [imgURL]="sc?.worktimeImage">
            </app-img-zoom>
        </div>
        <div class="col-md-4 col-sm-12 pe-0" *ngIf="sc?.visaTitle">
            <app-img-zoom text="{{sc?.visaTitle}}" URLTarget="visa"
                [imgURL]="sc?.visaImage">
            </app-img-zoom>
        </div>
        <!-- câu hỏi thường gặp -->
        <div class="col-md-4 col-sm-12 pe-0" *ngIf="sc?.questionTitle">
            <app-img-zoom text="{{sc?.questionTitle}}" URLTarget="question"
                [imgURL]="sc?.questionImage">
            </app-img-zoom>
        </div>

    </div>

</div>