<!-- banner -->
<app-banner [imgURL]="'https://www.asien-special-tours.de/media/_processed_/7/c/csm_service-und-kontakt-asien-special-tours-h_31eea04155.jpg?v=1520593829'" 
text="{{'menu_contact' | translate}}"></app-banner>


<div class="container py-5 text-center">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="display-4">{{'menu_contact' | translate}}</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <p>{{'ser_con_content' | translate}}</p>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom
                text="{{'ser_con_discussion' | translate}}" 
                URLTarget=""
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/d/e/csm_anfrage-an-asien-special-tours_1d14094125.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom
            text="{{'ser_con_contact' | translate}}" 
            URLTarget=""
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/8/e/csm_ansprechpartner_-asien-special-tours_83eb05d2ce.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom
            text="{{'ser_con_business_hours' | translate}}"  
            URLTarget=""
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/f/1/csm_kontakt-oeffnungszeiten-asien-special-tours_1847a1142c.jpg'">
            </app-img-zoom>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom
                text="{{'ser_con_visa' | translate}}" 
                URLTarget=""
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/a/b/csm_reisevisa-service-asien-special-tours_d4f6d37170.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom
            text="{{'ser_con_order_template' | translate}}" 
            URLTarget=""
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/b/3/csm_bestellformular-katalog-kundenmagazin_c90c1f12b5.jpg'">
            </app-img-zoom>
        </div>

        <div class="col-md-4 col-sm-12 pe-0">
            <app-img-zoom
            text="{{'ser_con_frequently_asked' | translate}}"  
            URLTarget=""
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/f/8/csm_hauefige_fragen_und_antworten-asien_special_tours_60a0f785ee.jpg'">
            </app-img-zoom>
        </div>
    </div>

</div>
<div class="container-fluid mt-5">
    <app-support-banner></app-support-banner>
</div>