<app-banner
    [imgURL]="'https://www.china-reisen.de/media/China/Rundreisen/China_In_Style/china-luxusreise-dachterasse-wein.jpg?v=1552385252'"
    text="Trung Quốc theo phong cách"></app-banner>

<div class="container py-5">
    <div class="row mt-4">
        <p>Bạn đang mơ về Viễn Đông và không muốn làm gì mà không có? Chuyến đi xa xỉ độc đáo này sẽ đưa bạn vào một thế
            giới khác và chỉ cho bạn những điểm đẹp nhất ở Trung Quốc. Những trải nghiệm khó quên, những khoảnh khắc độc
            đáo và những cuộc phiêu lưu thú vị đang chờ đón bạn trong chuyến đi khứ hồi sang trọng ở cấp độ cao nhất
            này: một chuyến dã ngoại sâm panh trong khí quyển trên Vạn Lý Trường Thành, một chuyến bay trực thăng ngoạn
            mục qua phong cảnh núi đá vôi của Yangshuo hoặc một chuyến du ngoạn độc quyền trước khung cảnh buổi tối lấp
            lánh của Thượng Hải. Bạn sẽ gặp gỡ các chuyên gia nghệ thuật và văn hóa, với kiến ​​thức chuyên sâu của họ,
            họ sẽ cho bạn cái nhìn sâu sắc về hậu trường và đồng hành cùng bạn trên những con đường khuất xa khỏi đám
            đông khách du lịch. Ở giữa có đủ không gian cho thời gian linh hoạt và trải nghiệm riêng tư của bạn. Bạn sẽ
            ở trong những khách sạn tốt nhất ở Trung Quốc:</p>

    </div>
    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/7/c/csm_StepMap-Karte-Homepage-China-in-Style_9975e8afa3.jpg"
                alt="" srcset="">
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>Thông tin du lịch</h3>
            <h4 class="mt-4">
                Hành trình
            </h4>
            <div>16 ngày</div>
            <div>Bắc Kinh - Tây An - Thành Đô - Quế Lâm - Yangshuo - Quế Lâm - Thượng Hải</div>
            <h4 class="mt-4">
                Đặc biệt cá nhân của bạn
            </h4>
            <ul>
                <li>
                    An ninh và linh hoạt thông qua hướng dẫn viên du lịch
                    riêng và tài xế riêng
                </li>
                <li>
                    Liên hệ cá nhân trước, trong và sau chuyến đi của bạn

                </li>
                <li>
                    Buổi dã ngoại sâm panh trong không khí trên Vạn Lý Trường
                    Thành
                </li>
                <li>
                    Lớp học Thái Cực Quyền ngoài trời riêng tại Công viên Đồi
                    Than
                </li>
                <li>
                    Khám phá Tử Cấm Thành với chuyên gia
                </li>
                <li>
                    Hội thảo về hương và giới thiệu về Y học cổ truyền Trung
                    Quốc
                </li>
                <li>
                    Bữa trà chiều tại Dinh thự của Hoàng tử bên ngoài Bắc
                    Kinh
                </li>
                <li>
                    Luôn đặt tốc độ của riêng bạn
                </li>
                <li>
                    Chuyến bay trực thăng ngoạn mục qua Yangshuo
                </li>
                <li>
                    Bữa tối lãng mạn trên bè tre
                </li>
                <li>
                    Du thuyền độc quyền ở Thượng Hải
                </li>
                <li>
                    Chuyến tham quan nghệ thuật Thượng Hải
                </li>
                <li>
                    Các món ăn yêu thích trong những lần ghé thăm nhà hàng đã
                    chọn
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/2/1/csm_china-reise-peking-the-peninsula-beijing-1_beb570798b.jpg"
                alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 1 Đến Bắc Kinh & hạng nhất The Peninsula Bắc Kinh</h5>
            <p>
                Chuyến đi trong mơ của bạn bắt đầu tại Bắc Kinh. Hướng dẫn viên riêng của bạn sẽ đợi bạn tại sân bay và
                bạn sẽ được đưa đến khách sạn. Nằm ở trung tâm của Bắc Kinh, Bán đảo Bắc Kinh là địa chỉ hàng đầu tuyệt
                đối ở thủ đô của Trung Quốc. Từ đây chỉ mất vài phút là đến các điểm tham quan lịch sử như Tử Cấm Thành,
                Quảng trường Thiên An Môn và Nhà hát Quốc gia. Đằng sau mặt tiền ấn tượng theo phong cách Trung Quốc,
                khách sạn sang trọng kết hợp các yếu tố phương Đông và phương Tây và mang đến cho du khách những gì tốt
                nhất của cả hai thế giới. Với phong cách trang nhã, dịch vụ hạng nhất và công nghệ mới nhất, The
                Peninsula Beijing đặt ra các tiêu chuẩn cao nhất về thiết kế, sang trọng và tiện nghi. Ưu đãi ẩm thực
                cũng khiến trái tim của mọi thực khách đập nhanh hơn. Nhà hàng "Jing" phục vụ các món ăn Pháp đương đại
                và là một trong những nhà hàng tốt nhất trong thị trấn. Bạn cũng có thể mong đợi các món ăn Quảng Đông
                đặc sắc, đặc sản quốc tế và châu Á cũng như đồ uống ngon và rượu vang hảo hạng. Đến nơi trong bình yên
                và thư giãn một chút sau cuộc hành trình. Làm thế nào về việc mát-xa trong khu vực spa tuyệt vời của
                khách sạn (trị liệu spa không bao gồm trong giá tour) hoặc thư giãn với một tách trà trong phòng trà?
                Nghỉ đêm tại Bắc Kinh. Làm thế nào về việc mát-xa trong khu vực spa tuyệt vời của khách sạn (trị liệu
                spa không bao gồm trong giá tour) hoặc thư giãn với một tách trà trong phòng trà? Nghỉ đêm tại Bắc Kinh.
                Làm thế nào về việc mát-xa trong khu vực spa tuyệt vời của khách sạn (trị liệu spa không bao gồm trong
                giá tour) hoặc thư giãn với một tách trà trong phòng trà? Nghỉ đêm tại Bắc Kinh.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 2 Đi dã ngoại rượu vang sủi tăm trên Vạn Lý Trường Thành & nếm thử schnapps</h5>
            <p>
                Sau bữa sáng thịnh soạn, điểm nhấn lớn đầu tiên của chuyến đi đã chờ bạn! Vào buổi sáng, lái xe đến phần
                Mutianyu của Vạn Lý Trường Thành. Người lạ thích chuyến đi đến đây như một chuyến du hành xuyên thời
                gian: từ thủ đô hiện đại ở vùng ngoại ô cho đến vùng núi hiểm trở, nơi một đội quân công nhân đã từng
                xây tường thành đế chế. Cùng với hướng dẫn viên du lịch của mình, bạn sẽ đi bộ đường dài trên bức tường
                và tận hưởng bầu không khí độc đáo với bữa ăn ngoài trời với rượu sâm panh lãng mạn. Tự nâng cốc và tận
                hưởng khoảnh khắc khó quên. Sau đó khởi hành một lần nữa và lái xe trở lại Bắc Kinh. Trên đường về bạn
                sẽ ghé thăm nhà máy chưng cất truyền thống Niu Lan Shan, nơi chưng cất rượu schnapps nổi tiếng "Er Guo
                Tou". Thuyết phục bản thân về chất lượng của giọt cao quý trong quá trình nếm thử. . Vào buổi tối, bạn
                có thể thưởng thức khẩu vị của mình tại nhà hàng Quảng Đông "Huang Ting" hoặc thử món vịt quay Bắc Kinh
                nổi tiếng trong "Country Kitchen" của Khách sạn Rosewood. Nghỉ đêm tại Bắc Kinh.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/3/f/csm_china-reise-peking-grosse-mauer-sonnenuntergang-2_88e7f21e12.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/5/b/csm_china-reise-peking-tai-chi-3_ee1eb6caad.jpg"
                alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Lớp Thái Cực Quyền Riêng Ngày 3 & Tử Cấm Thành với chuyên gia</h5>
            <p>
                Nhiều người dân Bắc Kinh dậy từ rất sớm và đến các công viên để tập thể dục. Đặc biệt là Thái cực quyền
                rất phổ biến. Bậc thầy Thái Cực Quyền của riêng bạn đang chờ bạn tại Công viên Kohlenhügel và hướng dẫn
                bạn thực hiện một loạt các động tác và bài tập chậm rãi, uyển chuyển. Hãy tận hưởng những chuyển động
                thư giãn trong môi trường độc đáo này và tiếp thêm năng lượng mới cho ngày mới. Sau bữa sáng thịnh soạn
                tại khách sạn, bạn sẽ bắt đầu hành trình tham quan ngày hôm nay. Tản bộ qua Quảng trường Thiên An Môn
                với một chuyên gia - với chiều rộng 500 mét và chiều dài 880 mét, đây là quảng trường lớn nhất thế giới.
                Hãy đón chờ những lời giải thích của chuyên gia về Tử Cấm Thành với Hoàng cung ấn tượng. Nơi huyền diệu
                này là nơi ngự trị của các hoàng đế Trung Quốc của hai triều đại - nhà Minh và nhà Thanh - và trong suốt
                nửa thiên niên kỷ, tất cả những người không thuộc triều đình đều không thể lui tới. Ngôi nhà cói cũng
                đặc sắc không kém gì kiến ​​trúc và những mái đình như chùa. Hãy để nhiều ấn tượng chìm trong và để phần
                còn lại của ngày kết thúc theo ý tưởng của bạn. Còn về một ly cocktail tại quầy bar trên tầng thượng hay
                đi ăn Vịt quay Bắc Kinh tại một trong những nhà hàng tốt nhất trong thị trấn? Nghỉ đêm tại Bắc Kinh. Còn
                về một ly cocktail tại quầy bar trên tầng thượng hay đi ăn Vịt quay Bắc Kinh tại một trong những nhà
                hàng tốt nhất trong thị trấn? Nghỉ đêm tại Bắc Kinh. Còn về một ly cocktail tại quầy bar trên tầng
                thượng hay đi ăn Vịt quay Bắc Kinh tại một trong những nhà hàng tốt nhất trong thị trấn? Nghỉ đêm tại
                Bắc Kinh.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Hội thảo về hương ngày 4 & trà chiều tại dinh thự của hoàng tử</h5>
            <p>
                Sau khi ăn sáng, bạn sẽ được chuyển đến nhà ga và đi tàu cao tốc đến Thiên Tân. Ở thuộc địa cũ của Ý,
                một xưởng sản xuất hương đang chờ bạn ở "He Zhen", nơi ban đầu đến từ nhà thuốc TCM nổi tiếng Tong Ren
                Tang. Bậc thầy hương liệu Zong, đến từ đời thứ 6, sẽ đưa bạn vào thế giới của những hương thơm thiền
                định. Tìm hiểu mọi thứ bạn cần biết về trầm hương, một trong những loại thuốc thảo dược quan trọng nhất
                trong y học cổ truyền Trung Quốc. Sau đó, bạn sẽ đến thăm thuộc địa của Anh, nơi bạn sẽ được phục vụ trà
                chiều trong tư dinh tráng lệ của hoàng tử "Qing Wang Fu". Dinh thự từng thuộc về chú của Hoàng đế cuối
                cùng Puyi. Sau đó trở về Bắc Kinh. Nghỉ đêm tại Bắc Kinh
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/b/2/csm_china-reise-tianjin-weihrauch-4_289c99490d.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/8/e/csm_china-reise-xian-sofitel-legend-5_5bfcb5b26a.jpg"
                alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 5 Đi tàu tốc hành đến Tây An và đi dạo qua khu phố cổ</h5>
            <p>
                Hôm nay bạn rời Bắc Kinh và đi du lịch đến Tây An bằng tàu cao tốc. Cố đô của mười một triều đại đã từng
                là trung tâm kinh tế và chính trị của Trung Vương quốc. Ngày nay nó là nơi đặt trụ sở của chính quyền
                tỉnh Sơn Tây. Bạn sẽ được đón chờ tại ga xe lửa và được hộ tống đến khách sạn sang trọng của bạn. Chào
                mừng đến với khách sạn Sofitel Legend Pe People's Grand Hotel ở trung tâm Tây An. Khách sạn sang trọng,
                mở cửa vào năm 1953 với tư cách là một nhà khách của nhà nước, đã truyền tải bầu không khí của thủ đô cũ
                theo một cách độc đáo. Khu vườn xinh đẹp mời gọi bạn nán lại và là khung cảnh hoàn hảo cho các lớp học
                Thái Cực Quyền hàng ngày. Một quản gia chăm sóc sức khỏe của bạn suốt ngày đêm. Sau khi nghỉ ngơi ngắn
                ngủi, hãy đi dạo qua khu phố cổ và chiêm ngưỡng Nhà thờ Hồi giáo Lớn. Trong chuyến đi bộ của bạn, bạn
                không nên bỏ qua một điểm ngắm tháp chuông và tháp trống. Tháp chuông cao 36 mét ở trung tâm là biểu
                tượng của thành phố. Tháp trống từ năm 1370, đã được trùng tu nhiều lần, được sử dụng để thông báo việc
                đóng cổng thành bằng tiếng trống của nó. Tất nhiên bạn cũng sẽ thấy bức tường thành - công trình được
                bảo tồn tốt nhất ở Trung Quốc. Đối với bữa tối, du khách được mời đến nhà hàng quý phái "Shi San Chao"
                và sẽ được thưởng thức các món ngon của vùng. Nghỉ đêm tại Tây An. Đối với bữa tối, du khách được mời
                đến nhà hàng quý phái "Shi San Chao" và sẽ được thưởng thức các món ngon của vùng. Nghỉ đêm tại Tây An.
                Đối với bữa tối, du khách được mời đến nhà hàng quý phái "Shi San Chao" và sẽ được thưởng thức các món
                ngon của vùng. Nghỉ đêm tại Tây An.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 6 Sự mê hoặc của Đội quân Đất nung & thời gian rảnh rỗi trong khách sạn sang trọng của bạn</h5>
            <p>
                Một điểm nổi bật của mỗi chuyến đi đến Trung Quốc: Đội quân đất nung. Nó được coi là một trong những
                phát hiện khảo cổ học vĩ đại nhất của thế kỷ 20. Nó được những người nông dân tình cờ phát hiện vào năm
                1974 và đã được đưa vào danh sách di sản thế giới từ năm 1987. Những hình vẽ có kích thước như người
                thật được tìm thấy gần lăng mộ của Hoàng đế Tần Thủy Hoàng, một ngôi mộ đầu tiên của Trung Quốc từ năm
                210 trước Công nguyên. Đấng Christ. Cho đến nay, các nhà khảo cổ đã khai quật được khoảng 7.200 hình
                tượng binh lính đi bộ và cưỡi ngựa. Điều đáng chú ý là tất cả (!) Của những chiến binh đất này đều được
                thiết kế riêng biệt. Bạn cũng sẽ được tham quan chùa Big Wild Goose, được coi là một trong những ngôi
                chùa cổ nhất ở Trung Quốc và nằm ở giữa chùa Good Will ở ngoại ô phía nam. Chùa Big Wild Goose có hình
                nón, với bảy tầng, là một địa danh nổi bật của Xi ' đến Phần còn lại trong ngày là của bạn. Bạn muốn
                khám phá thêm hay bạn muốn thư giãn trong khách sạn sang trọng của mình? Bar Louis XIII with Remy Martin
                phục vụ rượu Cognac Pháo đài Louis XIII quý hiếm và các món đặc sản khác. Spa của khách sạn bao gồm ba
                phòng trị liệu, cũng như một phòng để mát-xa chân truyền thống của Trung Quốc, chăm sóc sức khỏe thể
                chất và tinh thần của bạn (các liệu pháp spa không bao gồm trong giá tour). Nghỉ đêm tại Tây An. cũng
                như phòng mát-xa chân truyền thống của Trung Quốc và chăm sóc sức khỏe thể chất và tinh thần của bạn
                (các liệu pháp spa không bao gồm trong giá du lịch). Nghỉ đêm tại Tây An. cũng như phòng mát-xa chân
                truyền thống của Trung Quốc và chăm sóc sức khỏe thể chất và tinh thần của bạn (các liệu pháp spa không
                bao gồm trong giá du lịch). Nghỉ đêm tại Tây An.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/3/a/csm_china-reise-xian-terrakotta-armee-6_2e0c62a3f4.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/d/e/csm_china-chengdu-tee-8_831b279912.jpg" alt=""
                srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 7 Đi tàu cao tốc đến Thành Đô & trà đạo tại quán trà</h5>
            <p>
                Sau bữa sáng, đi tàu cao tốc đến Thành Đô. Thủ phủ của tỉnh Tứ Xuyên là một thành phố hiện đại, nhưng
                nguồn gốc của nó trải dài từ quá khứ. Quá khứ hấp dẫn của thành phố vẫn có thể được cảm nhận rõ ràng
                trong vô số ngôi đền được bảo tồn tốt. Tuy nhiên, thành phố trông trẻ trung và sống động. Những khu vườn
                xinh đẹp và những quán trà nói riêng đặc trưng cho bộ mặt của thành phố và khiến Thành Đô trở thành một
                trong những thành phố nổi tiếng nhất ở Trung Quốc. Không ở đâu nhiều phòng trà như ở Thành Đô. Một buổi
                trà đạo đích thực đang chờ bạn trong một quán trà. Hãy đón chờ khách sạn độc quyền của bạn trong vài
                ngày tới. The Temple House là một khách sạn sang trọng đặc biệt xinh đẹp với vẻ đẹp quyến rũ có một
                không hai. Thực hiện một cuộc hành trình độc đáo xuyên thời gian và để bản thân bị mê hoặc. Buổi tối,
                thưởng thức chương trình biểu diễn nghệ thuật dân gian truyền thống Tứ Xuyên. Điều này bao gồm thay đổi
                mặt nạ, thở bằng lửa và chơi bóng bàn tay. Trao đổi ý tưởng với các nghệ sĩ và tìm hiểu thêm về truyền
                thống của khu vực. Nghỉ đêm tại Thành Đô.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 8 Ngày mua sắm đặc biệt và thời gian tự do ở Thành Đô</h5>
            <p>
                Có một khởi đầu ngày mới thoải mái và tận hưởng các tiện nghi của khách sạn của bạn. Làm thế nào về một
                ngày mua sắm (với hướng dẫn viên và tài xế) đến những địa chỉ tốt nhất trong thị trấn? Hoặc bạn muốn
                tham quan chợ thảo dược với một chuyên gia về y học cổ truyền Trung Quốc và tìm hiểu mọi thứ về việc sử
                dụng và tác dụng của các loại thảo mộc? Nếu bạn chỉ muốn sống trọn ngày - hãy tự quyết định và tận hưởng
                kỳ nghỉ của mình một cách trọn vẹn nhất, tránh xa mọi áp lực về thời gian. Nghỉ đêm tại Thành Đô.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/7/0/csm_china-reise-chengdu-9_2d5807826f.jpg" alt=""
                srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/2/b/csm_china-reise-essen-10_1c90033523.jpg" alt=""
                srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 9 Trải nghiệm Tứ Xuyên bằng tất cả các giác quan của bạn</h5>
            <p>
                Hôm nay hướng dẫn của bạn sẽ đưa bạn vào một cuộc hành trình thú vị qua lịch sử của ẩm thực Tứ Xuyên.
                Ghé thăm Bảo tàng Ẩm thực Tứ Xuyên, bảo tàng đầu tiên trên thế giới dành riêng hoàn toàn cho một nền ẩm
                thực truyền thống. Đến đây bạn sẽ không chỉ tìm hiểu rất nhiều điều thú vị về nền ẩm thực truyền thống
                của tỉnh, bạn còn có thể tự mình ngửi, nếm, cảm nhận và thậm chí là tự tay chế biến. Bao gồm khoảng 2,7
                ha không gian triển lãm, hội trường chính có các dụng cụ nấu ăn hơn 2.500 năm tuổi được khai quật ở Tứ
                Xuyên và nhiều sách, hồ sơ và hình ảnh liên quan đến ẩm thực Tứ Xuyên. Sau đó, tham quan chợ với đầu bếp
                Daozhong Fang (chỉ hoạt động vào cuối tuần) và mua sắm cho bữa tối của bạn tối nay. Đến nhà hàng, tự
                chuẩn bị đồ ăn, mà bạn có thể để nó tan chảy trong miệng. Sau nhiều ấn tượng về ẩm thực, bạn trở lại
                khách sạn của mình. Nghỉ đêm tại Thành Đô.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 10 Chuyến bay trực thăng ngoạn mục qua Yangshuo</h5>
            <p>
                Một chuyến bay nội địa ngắn sẽ đưa bạn đến vùng tiếp theo ở Quế Lâm, nơi bạn đã mong đợi. Cùng với hướng
                dẫn viên và tài xế riêng, bạn sẽ tiếp tục đến Yangshuo, nơi bạn sẽ được chuyển đến khách sạn sang trọng
                của mình. Ẩn mình giữa những ngọn núi xanh ngọc bích, Banyan Tree Yangshuo là một nơi hoàn toàn yên bình
                và hài hòa. Trải nghiệm vẻ đẹp tự nhiên của Yangshuo với những ngọn núi hình nón karst mang tính biểu
                tượng, ruộng bậc thang và sông Li tuyệt đẹp - một bữa tiệc thị giác thực sự! Cơ sở vật chất tuyệt vời,
                nhà hàng tuyệt vời và khung cảnh ngoạn mục đảm bảo mang đến cho bạn trải nghiệm thú vị mà bạn sẽ yêu
                thích trong một thời gian dài. Một khởi đầu khó quên trong khung cảnh thơ mộng này là một chuyến bay
                trực thăng qua cảnh quan núi đá vôi. Tận hưởng khung cảnh ngoạn mục và để ánh nhìn của bạn đi lang
                thang. Vào buổi tối, bạn có thể thưởng thức một màn trình diễn ngoạn mục. Trong buổi trình diễn ấn tượng
                Liu Sanjie, hơn 800 diễn viên sẽ hớp hồn bạn cùng lúc với sự kết hợp tuyệt vời giữa ánh sáng, ca hát,
                nhào lộn và kỹ thuật lừa. Nghỉ đêm tại Yangshuo.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/4/6/csm_china-reise-yangshou-li-fluss-11_a77544e2f0.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/0/0/csm_china-reise-yangshou-li-fluss-12_287e0060f3.jpg"
                alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 11 Xe jeep safari mạo hiểm</h5>
            <p>
                Bạn bắt đầu hiểu tại sao mọi người lại say mê khu vực này: những cánh đồng lúa xanh mướt và bức tranh
                toàn cảnh của những dãy núi so le sừng sững nối tiếp nhau như một con sóng hình sin. Nhiều đỉnh cao xa
                như bạn có thể thấy, mỗi đỉnh được bao bọc trong một bức màn mây mỏng manh. Thật khó để tìm từ thích hợp
                cho khung cảnh này. Hơn hết: chỉ cần ngạc nhiên! Hôm nay bạn sẽ khám phá vùng đất xinh đẹp này trên một
                chiếc xe jeep safari đầy mạo hiểm với một hướng dẫn viên người nước ngoài. Dừng lại bất cứ nơi nào bạn
                thích. Ngắm nhìn phong cảnh đẹp như tranh vẽ này với sự hình thành độc đáo và những cánh đồng lúa xanh
                tốt. Bạn cũng sẽ có ấn tượng về cuộc sống trong nước, bởi vì nhiều dân tộc thiểu số sống trong khu vực
                này, những người vẫn giữ cách sống và nhà ở truyền thống của họ. Hãy để ẩm thực tuyệt vời của Banyan
                Tree Hotel đồng hành cùng bạn suốt buổi tối. Nghỉ đêm tại Yangshuo.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 12 Thời gian giải trí ở Yangshuo</h5>
            <p>
                Cả một ngày chỉ dành cho một mình bạn! Bạn cảm thấy gì hôm nay? Phòng tập yoga và thể dục đầy đủ trang
                thiết bị, hồ bơi ngoài trời tuyệt đẹp với tầm nhìn ra sông Li và hơn hết là spa sang trọng, tuyệt vời
                với các chương trình giải độc và giảm căng thẳng tuyệt vời (không bao gồm các liệu pháp spa) đảm bảo bạn
                sẽ được thư giãn thực sự trong khách sạn hạng nhất của mình. đã bao gồm giá đi lại). Tận hưởng các liệu
                pháp nhẹ nhàng làm hồi sinh các nghi thức chăm sóc sức khỏe và sắc đẹp cổ xưa trong bồn tắm phương Đông
                với hương thơm và tinh chất kỳ lạ và quên đi mọi thứ xung quanh bạn trong giây lát. Chỉ cần hít thở sâu
                và thư giãn. Nếu bạn thích hoạt động nhiều hơn, thiên nhiên tươi đẹp xung quanh Yangshuo mang đến rất
                nhiều cơ hội để du ngoạn và khám phá. Ví dụ như một chuyến đi bè tre trên Li hoặc một chuyến tham quan
                bằng xe đạp thì sao? Nghỉ đêm tại Yangshuo.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/7/2/csm_china-reise-yangshou-fahrrad-13_be50cdc89c.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/9/e/csm_China-Shanghai-Reise-Yacht-14_8d21e9f413.jpg"
                alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Chuyến bay ngày 13 đến Thượng Hải & du thuyền độc quyền trên Hoàng Phố</h5>
            <p>
                Hôm nay lái xe trở lại Quế Lâm và bay đến đô thị lớn của Thượng Hải. Hướng dẫn viên sẽ đưa bạn đến khách
                sạn sang trọng Capella Shanghai Jian Ye Li. Trung tâm của khách sạn là 55 biệt thự shikumen một, hai và
                ba phòng ngủ kết hợp sân trong kiểu Thượng Hải lịch sử với nét tinh tế trong thiết kế của Paris. Sự sang
                trọng đương đại của nội thất biệt thự tương phản với những nét chấm phá của chinoiserie, nhưng vẫn tạo
                ra sự cộng sinh thú vị giữa truyền thống và sang trọng hiện đại. Một trợ lý cá nhân dự đoán mọi mong
                muốn của bạn. Trong nhà hàng ăn uống cao cấp, bạn có thể thưởng thức các món ăn sáng tạo của các ngôi
                sao Pháp, trong khi boulangerie nâng niu mũi và vị giác của bạn với bánh mì và bánh ngọt thơm lừng. Điểm
                nổi bật của ngày hôm nay là chuyến du thuyền kéo dài 2 giờ trên sông Hoàng Phố, nơi bạn có thể tận hưởng
                bầu không khí độc đáo với tầm nhìn ra đường chân trời lấp lánh. Bạn cũng sẽ được phục vụ đồ uống mát
                lạnh và đồ ăn nhẹ. Nghỉ đêm tại Thượng Hải.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Tour Nghệ thuật Thượng Hải Ngày 14</h5>
            <p>
                Hôm nay, hãy chờ đợi một chuyến tham quan nghệ thuật thú vị kéo dài nửa ngày đến các phòng trưng bày
                nghệ thuật nổi bật của Thượng Hải. Phần còn lại trong ngày là lúc bạn rảnh rỗi. Bạn có muốn một chút thư
                giãn và giải trí cách xa sự hối hả và nhộn nhịp của thành phố? Auriga Spa từng đoạt giải thưởng của
                khách sạn bạn, được đặt tên theo chòm sao Carter có ngôi sao chính là Capella, là một ngôi đền chăm sóc
                sức khỏe và sức khỏe đẳng cấp thế giới, tôn vinh việc chăm sóc cơ thể với thực đơn đa dạng các liệu pháp
                và trị liệu (không bao gồm các liệu pháp spa trong giá du lịch). Một loạt các hoạt động và trải nghiệm
                như các khóa học nấu ăn, pha chế cocktail và vẽ tranh, các lớp học yoga hay nếm rượu rum đảm bảo sẽ rất
                đa dạng. Bạn chắc chắn có rất nhiều ý tưởng cho buổi chiều rảnh rỗi. Nghỉ đêm tại Thượng Hải.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/a/1/csm_China-Shanghai-Reise-Kunst-15_4354b33401.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/c/1/csm_China-Shanghai-Reise-Skyline-16_cbe0dffdcd.jpg"
                alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 15 Đầy tương phản: Thượng Hải từ trên cao & đi bộ qua khu phố cổ</h5>
            <p>
                Thượng Hải vẫn còn rất nhiều điều thú vị và đang chờ bạn khám phá. Địa danh của Thượng Hải là Tháp Ngọc
                Phương Đông, tháp truyền hình cao 468 mét đáng tự hào, tháp Thượng Hải thậm chí 632 mét. Hoàn thành vào
                năm 2015, tòa tháp là tòa nhà cao thứ hai trên thế giới sau Burj Khalifa - mặc dù đài quan sát dành cho
                du khách thậm chí còn cao hơn cả Burj Khalifa. Đi lên đỉnh và nhìn ra thành phố từ đài quan sát. Nhưng ở
                Thượng Hải còn nhiều thứ hơn là những tòa nhà chọc trời, khu thương mại và những điểm du lịch đông đúc.
                Vẫn còn đó một Thượng Hải cổ kính và nguyên bản như trước khi có biến động lớn vào những năm 1990. Đi
                dạo qua các con hẻm cùng với hướng dẫn viên của bạn, nếm thử một số món ngon, được cung cấp trên khán
                đài và để bản thân được cuốn đi bởi niềm vui cuộc sống thuần khiết của người dân. Sau đó kết thúc buổi
                tối tại nhà hàng hàng đầu của khách sạn "Le Comptoir de Pierre Gagnaire" và bình tâm ôn lại chuyến đi
                trong mơ. Nghỉ đêm tại Thượng Hải.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h5>Ngày 16 Chia tay Trung Quốc</h5>
            <p>
                Thật không may, hôm nay đã đến lúc phải nói lời tạm biệt với một đất nước hấp dẫn mà từ đó bạn sẽ có
                nhiều ấn tượng lâu dài với bạn. Bạn sẽ được đưa đến sân bay từ nơi bạn sẽ bắt đầu hành trình đi tiếp
                hoặc trở về.
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid"
                src="https://www.china-reisen.de/media/_processed_/f/0/csm_china-reise-shanghai-17_37ab61a59f.jpg"
                alt="" srcset="">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 col-sm-12">
            <app-img-r-box text="{{'home_img_body' | translate}}"
                [imgURL]="'https://www.china-reisen.de/media/_processed_/7/2/csm_china-reise-the-peninsula-beijing-luxushotel-9_5200a74957.jpg'">
            </app-img-r-box>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-img-box text="{{'home_img_body' | translate}}"
                [imgURL]="'https://www.asien-special-tours.de/media/_processed_/6/4/csm_asien-luxusreisen-body-soul_64f7d1cdd3.jpg'">
            </app-img-box>
        </div>
    </div>


</div>
<div class="container-fluid mt-5">
    <app-support-banner></app-support-banner>
</div>